body {
    background-image: url('imagem/vista-superior-do-arranjo-de-textura-de-fatias-de-limao_23-2149433502.avif');
    background-size: cover;
    background-position: center;
    color: rgb(16, 75, 24); /* Define a cor do texto como branco */
    text-align: center; /* Centraliza o texto */
}

.hidden {
    display: none;
}

#paginaInicial button,
#paginaLoja button,
#paginaPagamento button {
    margin-top: 20px; /* Espaçamento acima do botão */
    padding: 15px 30px; /* Aumenta o padding do botão */
    font-size: 18px; /* Aumenta o tamanho da fonte do botão */
    background-color: green; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão como branco */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Adiciona um cursor ao passar o mouse sobre o botão */
}

.produto {
    margin-bottom: 20px;
    text-align: center;
}

.produto img {
    width: 100%; /* Para ocupar a largura do contêiner */
    height: auto;
    max-width: 200px; /* Limita a largura máxima */
}

@media only screen and (min-width: 600px) {
    .produto {
        display: inline-block;
        width: 30%; /* Ajusta a largura dos produtos para exibição em telas maiores */
        margin-right: 10px;
    }
}
